{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <head>
    <title></title>
    <style>
        body {
            width: 300px;
            margin: auto;
            background-image: url("../../static/dist/assets/img/bg-signup.jpg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            color: #2c3034;
            border-radius: 25px;
        }
    </style>
  </head>
  <body>
  <div class="login-form">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %}
      <h4>Please login</h4>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Login" class="btn btn-dark"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </div>
  </body>
{% endblock %}
