{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'editorial_office:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search"/>
  </form>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "editorial_office:newspaper-detail" pk=newspaper.id %} ">{{ newspaper.id }}</a>
          {{ newspaper.title }} ({{ newspaper.topic.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers in agency</p>
  {% endif %}
{% endblock %}
