{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>
    Publishers List
    <br>
    <a href="{% url 'editorial_office:redactor-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h2>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search"/>
  </form>
  {% if redactors_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
      {% for redactors in redactors_list %}
        <tr>
          <td>{{ redactors.id }}</td>
          <td><a href="{{ redactors.get_absolute_url }}">{{ redactors.username }} {% if user == redactors %}
            (Me){% endif %}</a></td>
          <td>{{ redactors.first_name }}</td>
          <td>{{ redactors.last_name }}</td>
          <td>{{ redactors.year_of_experience }}</td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no publishers in the agency.</p>
  {% endif %}
{% endblock %}
