{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      publishers List
      <a href="{% url 'editorial_office:publishers-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
     <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search"/>
  </form>

    {% if publishers_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
    {% for publishers in publishers_list %}
      <tr>
        <td>{{ publishers.id }}</td>
        <td><a href="{{ publishers.get_absolute_url }}">{{ publishers.username }} {% if user == publishers %} (Me){% endif %}</a></td>
        <td>{{ publishers.first_name }}</td>
        <td>{{ publishers.last_name }}</td>
        <td>{{ publishers.years_of_experience }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no publishers in the agency.</p>
    {% endif %}
{% endblock %}
